@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    z-index: 1000;
}

header .logo
{
    max-width: 120px;
}

header .toggle
{
    max-width: 60px;
    cursor:pointer;
}

header .logo img,
header .toggle img
{
    max-width: 100%;
}
.banner
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    background-color: #f2f2f2;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}


.banner .content
{
  max-width: 550px;
}

.banner .content h2
{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2.5em;
    letter-spacing: 0.1em;
    color: rgb(0, 0, 0);
}

.banner .content h2 span
{
    font-weight: 800;
}

.banner .content p
{
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: 0.02em;
    line-height: 1.5em;
    color: rgb(0, 0, 0);
    margin: 15px 0 35px; 
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
.video{
  width: 560px;
  height: 315px;  
  margin-left: 630px;
} 

@media only screen and (max-width: 1200px)
{
.banner .content
{
  max-width: 250px;
}

.banner .content h2
{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2.5em;
    letter-spacing: 0.1em;
    color: rgb(0, 0, 0);
}

.banner .content h2 span
{
    font-weight: 800;
}

.banner .content p
{
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: 0.02em;
    line-height: 1.5em;
    color: rgb(0, 0, 0);
    margin: 0; 
}
.video{
    width: 560px;
    height: 315px;
    margin-left: 0px;  
  }
}
@media only screen and (max-width: 580px)
{
.banner .content
{
  max-width: 250px;
}

.banner .content h2
{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2.5em;
    letter-spacing: 0.1em;
    color: rgb(0, 0, 0);
}

.banner .content h2 span
{
    font-weight: 800;
}

.banner .content p
{
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: 0.02em;
    line-height: 1.5em;
    color: rgb(0, 0, 0);
    margin: 5px 0 35px; 
}
.video{
    width: 345px;
    height: 195px;  
  } 
}
@media only screen and (max-width: 376px)
{
.banner .content
{
  max-width: 250px;
}

.banner .content h2
{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2.5em;
    letter-spacing: 0.1em;
    color: rgb(0, 0, 0);
}

.banner .content h2 span
{
    font-weight: 800;
}

.banner .content p
{
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: 0.02em;
    line-height: 1.5em;
    color: rgb(0, 0, 0);
    margin: 5px 0 35px; 
}
.video{
    width: 325px;
    height: 175px;  
  } 
}
