@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    scroll-behavior: smooth;
}
body
{
    font-family: "Poppins", sans-serif;
}

.offset::before
{
    content: "";
    height: 10rem;
    margin-top: -2rem;
}

a
{
    text-decoration: none;
}

li
{
    list-style: none;
}
h3
{
    font-size: 44px;
    line-height: 55px;
    color: #121212;
    font-weight: 600;
}

h6
{
    font-size: 20px;
    line-height: 32px;
    color: #6c6c6c;
    margin-top: 16px;
    font-weight: normal;
}
.nav
{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 6.5rem;
    background: transparent;
    transition: all 0.5s ease;
    z-index: 100000;
}
.nav.scrolled{
    background-color: rgb(255, 255, 255) !important;
    transition: background-color 200ms linear;
    box-shadow: 7px 10px 15px rgba(0,0,0,0.3)
}
.nav .navbar-toggler
{
    display: none;
    border: none;
    outline: none;
}
.nav .navbar-toggler .toggler-icon
{
     width: 27px;
     height: 3px;
     background-color: #121212;
     margin: 5px 0;
     position: relative;
     display: block;
     transition: all 0.3s ease-out 0s;
}
.nav .menu-bar .menu-items
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.nav .menu-bar .menu-items li
{
    margin: 0 15px;
}
.nav .menu-bar .menu-items li a
{
    color: #000;
    font-size: 18px;
    font-weight: 600;
}
.nav .menu-bar .menu-items li a:hover{
    color: #4F47E4;
}
.nav .navbar-social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav .navbar-social span{
    font-size: 18px;
    font-weight: 600;
    padding-right: 10px;
    color: #6c6c6c;
}


.nav .navbar-social ul{
    display: flex;
    flex-direction: none;
    justify-content: center;
    align-items: center;
}
.nav .navbar-social ul li{
    margin: 0 7px;
}
.nav .navbar-social ul li a{
    color: #6c6c6c;
    font-size: 22px;
}


.back{
    background-image: url("bghp.jpg");
    width: 100%;
    height: 120vh;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.back .overlay{
    background-image: linear-gradient(rgba(232, 237, 255, 0.9),rgba(239, 254, 255, 0.9) 40%,rgba(254, 255, 244, 0.3) 70%,rgba(255, 255, 255, 0.12));
    width: 100%;
    height: 100%;
}
.back .hero-shape{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.back .hero-shape img{
    width: 100%;
    display: block;
}
.hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.hero-text h6{
    color: #1d1d1d;
}

.hero-text .header-btn{
    margin-top: 22px;
}
.hero-text .header-btn li{
    display: inline-block;
    margin: 10px 10px 0 0;
}
.hero-text .header-btn li a.main-btn{
    border-radius: 50px;
    overflow: hidden;
    background-color: #fff;
    border: 0;
    line-height: 50px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0,16);
}
.main-btn{
    display: inline-block;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 2px solid transparent;
    padding: 0 32px;
    font-size: 16px;
    line-height: 48px;
    color: #0067f4;
    position: relative;
    cursor: pointer;
    transition: all 0.4s ease-out 0s;
    z-index: 5;
}
.hero-text .header-btn li a.main-btn i{
    margin-left: 5px;
    color: #646EE5;
}
.hero-text .header-btn .brn-one{
    color: #fff;
}
.hero-text .header-btn .brn-one::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #535CF1, #A147E4); 
    z-index: -1;
    transition: all 0.3s ease;
    background-position: right center;
}
.hero-text .header-btn .brn-one:hover::before{
    background-image: linear-gradient(to left, #535CF1, #A147E4);
    background-position: left center;
}
.hero-text .header-btn .btn-two:hover{
    box-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.16);
}

#wrapper{
    margin: 5rem 7rem 10rem 7rem;
}
.service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;
}
.service h6{
    margin-bottom: 6rem;
}
.service .service-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.service .service-content .box{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.service .service-content .box .box-one{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.service .service-content .box .box-one .services{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 2rem;
}
.service .service-content .box .box-one .services i{
    font-size: 3rem;
    margin-bottom: 10px;
    color: #535CF1;
}
.service .service-content .box .box-one .services .service-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: justify;
}
.service .service-content .service-img{
    width: 40%;
}
.service .service-content .service-img img{
    width: 60%;
    border-radius: 20%;
}

.pricing .table{
    justify-content: space-evenly;
    display: flex;
}
.pricing .basic{
    margin-bottom: 3rem;
}
.pricing .basic h3{
    text-align: center;
    font-weight: 300;
    padding: 40px 0;
    background-color: #ecf0f1;
    transition: all ease 0.6s;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.pricing .basic .price{
    display: block;
    text-align: center;
    padding: 20px 0;
}
.pricing .basic .price .sing{
    display: inline-block;
    font-size: 28px;
    font-weight: 400;
    vertical-align: middle;
}
.pricing .basic .price .currency{
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -2px;
    line-height: 60px;
    padding: 0;
    vertical-align: middle;
}
.pricing .basic .price .cent{
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
    vertical-align: bottom;
}
.pricing .basic .price .month{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 3px;
    vertical-align: bottom;
}

.pricing .basic ul li{
    border-top: 1px solid #ccc;
    padding: 18px 0;
    border-bottom: 1px solid #ccc;
    color: #7f8c8d;
}
.pricing .basic ul li i{
    padding-right: 5px;
    color: #535CF1;
}
.pricing .header-btn{
    margin: 2rem auto;
    width: 170px;

}
.pricing .header-btn a{
    font-weight: normal;
    font-size: 18px;
    border-radius: 50px;
    outline: medium none;
    border: 1px solid #2ecc71;
    color: #1d1d1d;
}
.pricing .standard h3{
    background-image: linear-gradient(to right, #535CF1, #A147E4); 
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    color: #fff;
}
.pricing .standard .header-btn a{
    background-image: linear-gradient(to right, #535CF1, #A147E4);
    color: #fff;
    border: 1px solid #2ecc71;
}
.pricing .basic:hover .header-btn a{
    background-image: linear-gradient(to right, #535CF1, #A147E4);
    color: #fff;
    border: 1px solid #2ecc71;
}
.pricing .basic:hover h3{
    background-image: linear-gradient(to right, #535CF1, #A147E4);
    color: #fff;
}
.callToAct{
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), #910AFA), url(2.jpg);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.callToAct .parallax{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}
.callToAct .parallax h3, .callToAct .parallax p{
    color: #fff;

}

.callToAct .parallax p{
    font-size: 18px;
    padding: 20px 0;
}
.callToAct .parallax .call-news{
    background-color: #fff;
    max-width: 470px;
    margin: auto;
    border-radius: 50px;
    padding: 12px 0 12px 15px;
}
.callToAct .parallax .call-news i{
    color: #535CF1;
    padding-right: 10px;
    font-size: 18px;
}
.callToAct .parallax .call-news input{
    border: none;
    outline: none;
    font-size: 18px;
}
.callToAct .parallax .call-content{
    margin-top: -210px;
}
.callToAct .parallax .call-news button{
    background-image: linear-gradient(to right, #535CF1, #A147E4);
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    padding: 15px 20px;
    cursor: pointer; 
    margin-left: 80px;
    border-radius: 50px;
}

footer{
    background-color: #f1f6f8;
    padding: 7rem;
}
footer .row-one{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
footer .row-one a{
    padding-right: 20px;
    font-size: 26px;
    color: #6c6c6c;
}
footer .row-one ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
footer .row-one a{
    padding-right: 20px;
}
footer .second-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
}
footer .second-row h6{
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color: #6c6c6c;
    padding-bottom: 20px;
}
footer .second-row li{
    padding-bottom: 12px;
}
footer .second-row li a{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #121212;
}
footer .second-row .first-row:nth-child(4){
    max-width: 300px;
}
.copyright{
    background-color: #2b354f;
    padding: 23px 0;
}
.copyright p{
    text-align: center;
    color: #fff;
}
.copyright p a{
    color: #1ABC9C;
}

#course{
    padding: 1vw 1vw 1vw 1vw;
    text-align: center;
}
#course .course-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}
#course .courses{
    text-align: start;
    background: #F9F9FF;
    height: 100%;
    position: relative;
}
#course .courses img{
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;
}
#course .courses .details{
    padding: 15px 15px 0 15px;
}

#course .courses .details i{
    color: #FDC93B;
    font-size: .9rem;
}

#course .courses .cost{
    background-color: rgb(74, 74, 136) ;
    color: #fff;
    line-height: 70px;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    bottom: 100px;
}



@media only screen and (max-width: 1790px)
{
    .nav
    {
        padding: 0.7rem 1rem;
       
    }
    .nav .navbar-toggler
    {
        display: block;
        position: absolute;
        top: 26px;
        right: 16px;
        z-index: 100000;
    }

    .nav .menu-bar{
        position: fixed;
        top: 55px;
        right: -360px;
        width: 300px;
        height: 100vh;
        background-color: rgba(256, 256, 256, 0.9);
        transform: all 0.6s ease;
    }
    
    .nav .menu-bar .menu-items
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: justify;
        padding: 40px 0;
    }
    .nav .menu-bar .menu-items li
    {
        margin: 2rem 30px;
    }

    .hero-text{
        width: 80%;
        
    }
    .hero-text h6{
        font-size: 16px;
    }

    #wrapper{
        margin: 3rem 1rem 10rem 1rem;
    }
    
    .service h3{
        font-size: 33px;
    }

    .service h6{
        font-size: 16px;
    }
    .service .box .box-one{
        padding: 10px;
    }
    
    .service .service-content .service-img{
        width: 90%;
        margin-bottom: 5rem;
    }

    .pricing h3{
        font-size: 33px;
    }
    
    .pricing h6{
        font-size: 16px;
    }
    .pricing .table{
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: nowrap;
    }
    .pricing .basic{
        margin-bottom: 3rem;
    }
    .pricing .basic h3{
        text-align: center;
        font-weight: 300;
        padding: 40px 0;
        background-color: #ecf0f1;
        transition: all ease 0.6s;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    }
    
    .pricing .basic .price{
        display: block;
        text-align: center;
        padding: 20px 0;
    }
    .pricing .basic .price .sing{
        display: inline-block;
        font-size: 28px;
        font-weight: 400;
        vertical-align: middle;
    }
    .pricing .basic .price .currency{
        font-size: 60px;
        font-weight: 300;
        letter-spacing: -2px;
        line-height: 60px;
        padding: 0;
        vertical-align: middle;
    }
    .pricing .basic .price .cent{
        display: inline-block;
        font-size: 24px;
        font-weight: 400;
        vertical-align: bottom;
    }
    .pricing .basic .price .month{
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 3px;
        vertical-align: bottom;
    }
    
    .pricing .basic ul li{
        border-top: 1px solid #ccc;
        padding: 18px 0;
        border-bottom: 1px solid #ccc;
        color: #7f8c8d;
    }
    .pricing .basic ul li i{
        padding-right: 5px;
        color: #535CF1;
    }
    .pricing .header-btn{
        margin: 2rem auto;
        width: 170px;
    
    }
    .pricing .header-btn a{
        font-weight: normal;
        font-size: 18px;
        border-radius: 50px;
        outline: medium none;
        border: 1px solid #2ecc71;
        color: #1d1d1d;
    }
    .pricing .standard h3{
        background-image: linear-gradient(to right, #535CF1, #A147E4); 
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
        color: #fff;
    }
    .pricing .standard .header-btn a{
        background-image: linear-gradient(to right, #535CF1, #A147E4);
        color: #fff;
        border: 1px solid #2ecc71;
    }
    .pricing .basic:hover .header-btn a{
        background-image: linear-gradient(to right, #535CF1, #A147E4);
        color: #fff;
        border: 1px solid #2ecc71;
    }
    .pricing .basic:hover h3{
        background-image: linear-gradient(to right, #535CF1, #A147E4);
        color: #fff;
    }
    
    .callToAct .parallax{
        width: 100%;
        margin-top: 10%;
    }

    .callToAct .parallax h3{
        font-size: 33px;
    }
    
    .callToAct .parallax h6{
        font-size: 16px;
    }
    .callToAct .parallax .call-news input{
        font-size: 16px;
    }
    .callToAct .parallax .call-news button{
        font-size: 15px;
    }

 
}
@media only screen and (max-width: 1240px)
{
    .nav
    {
        padding: 0.7rem 1rem;
       
    }
    .nav .navbar-toggler
    {
        display: block;
        position: absolute;
        top: 26px;
        right: 16px;
        z-index: 100000;
    }

    .nav .menu-bar{
        position: fixed;
        top: 55px;
        right: -360px;
        width: 300px;
        height: 100vh;
        background-color: rgba(256, 256, 256, 0.9);
        transform: all 0.6s ease;
    }
    
    .nav .menu-bar .menu-items
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: justify;
        padding: 40px 0;
    }
    .nav .menu-bar .menu-items li
    {
        margin: 2rem 30px;
    }

    .hero-text{
        width: 80%;
        
    }
    .hero-text h6{
        font-size: 16px;
    }

    #wrapper{
        margin: 3rem 1rem 10rem 1rem;
    }
    
    .service h3{
        font-size: 33px;
    }

    .service h6{
        font-size: 16px;
    }
    .service .box .box-one{
        padding: 10px;
    }
    
    .service .service-content .service-img{
        width: 90%;
        margin-bottom: 5rem;
    }

    .pricing h3{
        font-size: 33px;
    }
    
    .pricing h6{
        font-size: 16px;
    }
    .pricing .table{
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: nowrap;
    }
    .pricing .basic{
        margin-bottom: 3rem;
    }
    .pricing .basic h3{
        text-align: center;
        font-weight: 300;
        padding: 40px 0;
        background-color: #ecf0f1;
        transition: all ease 0.6s;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    }
    
    .pricing .basic .price{
        display: block;
        text-align: center;
        padding: 20px 0;
    }
    .pricing .basic .price .sing{
        display: inline-block;
        font-size: 28px;
        font-weight: 400;
        vertical-align: middle;
    }
    .pricing .basic .price .currency{
        font-size: 60px;
        font-weight: 300;
        letter-spacing: -2px;
        line-height: 60px;
        padding: 0;
        vertical-align: middle;
    }
    .pricing .basic .price .cent{
        display: inline-block;
        font-size: 24px;
        font-weight: 400;
        vertical-align: bottom;
    }
    .pricing .basic .price .month{
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 3px;
        vertical-align: bottom;
    }
    
    .pricing .basic ul li{
        border-top: 1px solid #ccc;
        padding: 18px 0;
        border-bottom: 1px solid #ccc;
        color: #7f8c8d;
    }
    .pricing .basic ul li i{
        padding-right: 5px;
        color: #535CF1;
    }
    .pricing .header-btn{
        margin: 2rem auto;
        width: 170px;
    
    }
    .pricing .header-btn a{
        font-weight: normal;
        font-size: 18px;
        border-radius: 50px;
        outline: medium none;
        border: 1px solid #2ecc71;
        color: #1d1d1d;
    }
    .pricing .standard h3{
        background-image: linear-gradient(to right, #535CF1, #A147E4); 
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
        color: #fff;
    }
    .pricing .standard .header-btn a{
        background-image: linear-gradient(to right, #535CF1, #A147E4);
        color: #fff;
        border: 1px solid #2ecc71;
    }
    .pricing .basic:hover .header-btn a{
        background-image: linear-gradient(to right, #535CF1, #A147E4);
        color: #fff;
        border: 1px solid #2ecc71;
    }
    .pricing .basic:hover h3{
        background-image: linear-gradient(to right, #535CF1, #A147E4);
        color: #fff;
    }
    
    .callToAct .parallax{
        width: 100%;
        margin-top: 10%;
    }

    .callToAct .parallax h3{
        font-size: 33px;
    }
    
    .callToAct .parallax h6{
        font-size: 16px;
    }
    .callToAct .parallax .call-news input{
        font-size: 16px;
    }
    .callToAct .parallax .call-news button{
        font-size: 15px;
    }


}

@media only screen and (max-width: 946px)
{
    .nav{
        padding: 1rem 3rem;
    }

    .nav .navbar-social{
        display: none;
    }

    .hero-text{
        width: 60%;
        
    }
    .hero-text h3{
        font-size: 33px;
    }
    #wrapper{
        margin: 3rem 3rem 10rem 3rem;
    }
    .service{ 
        margin-bottom: 3rem;
    }
    .service h6{
        margin-bottom: 3rem;
    }
    .service .service-content{
        flex-direction: column-reverse;
        justify-content: center;
       
    }
    .service .service-content .box{
        width: 100%;
    }
    .service .service-content .box .box-one{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .service .service-content .service-img{
        width: 100%;
        margin-bottom: 5rem;
    }
    .service .box .box-one{
        padding: 10px;
    }
    .pricing .table{
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .pricing .basic{
        margin-bottom: 3rem;
    }
    .pricing .basic h3{
        text-align: center;
        font-weight: 300;
        padding: 40px 0;
        background-color: #ecf0f1;
        transition: all ease 0.6s;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    }
    
    .pricing .basic .price{
        display: block;
        text-align: center;
        padding: 20px 0;
    }
    .pricing .basic .price .sing{
        display: inline-block;
        font-size: 28px;
        font-weight: 400;
        vertical-align: middle;
    }
    .pricing .basic .price .currency{
        font-size: 60px;
        font-weight: 300;
        letter-spacing: -2px;
        line-height: 60px;
        padding: 0;
        vertical-align: middle;
    }
    .pricing .basic .price .cent{
        display: inline-block;
        font-size: 24px;
        font-weight: 400;
        vertical-align: bottom;
    }
    .pricing .basic .price .month{
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 3px;
        vertical-align: bottom;
    }
    
    .pricing .basic ul li{
        border-top: 1px solid #ccc;
        padding: 18px 0;
        border-bottom: 1px solid #ccc;
        color: #7f8c8d;
    }
    .pricing .basic ul li i{
        padding-right: 5px;
        color: #535CF1;
    }
    .pricing .header-btn{
        margin: 2rem auto;
        width: 170px;
    
    }
    .pricing .header-btn a{
        font-weight: normal;
        font-size: 18px;
        border-radius: 50px;
        outline: medium none;
        border: 1px solid #2ecc71;
        color: #1d1d1d;
    }
    .pricing .standard h3{
        background-image: linear-gradient(to right, #535CF1, #A147E4); 
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
        color: #fff;
    }
    .pricing .standard .header-btn a{
        background-image: linear-gradient(to right, #535CF1, #A147E4);
        color: #fff;
        border: 1px solid #2ecc71;
    }
    .pricing .basic:hover .header-btn a{
        background-image: linear-gradient(to right, #535CF1, #A147E4);
        color: #fff;
        border: 1px solid #2ecc71;
    }
    .pricing .basic:hover h3{
        background-image: linear-gradient(to right, #535CF1, #A147E4);
        color: #fff;
    }

    .callToAct{
        margin-bottom: 5rem;
    }
    
    .callToAct .parallax{
        width: 80%;
    }
  
}

@media only screen and (max-width: 774px)
{
    .nav
    {
        padding: 0.7rem 1rem;
       
    }
    .nav .navbar-toggler
    {
        display: block;
        position: absolute;
        top: 26px;
        right: 16px;
        z-index: 100000;
    }

    .nav .menu-bar{
        position: fixed;
        top: 55px;
        right: -360px;
        width: 300px;
        height: 100vh;
        background-color: rgba(256, 256, 256, 0.9);
        transform: all 0.6s ease;
    }
    
    .nav .menu-bar .menu-items
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: justify;
        padding: 40px 0;
    }
    .nav .menu-bar .menu-items li
    {
        margin: 2rem 30px;
    }

    .hero-text{
        width: 80%;
        
    }
    .hero-text h6{
        font-size: 16px;
    }

    #wrapper{
        margin: 3rem 1rem 10rem 1rem;
    }
    
    .service h3{
        font-size: 33px;
    }

    .service h6{
        font-size: 16px;
    }
    .service .box .box-one{
        padding: 10px;
    }
    
    .service .service-content .service-img{
        width: 90%;
        margin-bottom: 5rem;
    }

    .pricing h3{
        font-size: 33px;
    }
    
    .pricing h6{
        font-size: 16px;
    }
    .pricing .table{
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: nowrap;
    }
    .pricing .basic{
        margin-bottom: 3rem;
    }
    .pricing .basic h3{
        text-align: center;
        font-weight: 300;
        padding: 40px 0;
        background-color: #ecf0f1;
        transition: all ease 0.6s;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    }
    
    .pricing .basic .price{
        display: block;
        text-align: center;
        padding: 20px 0;
    }
    .pricing .basic .price .sing{
        display: inline-block;
        font-size: 28px;
        font-weight: 400;
        vertical-align: middle;
    }
    .pricing .basic .price .currency{
        font-size: 60px;
        font-weight: 300;
        letter-spacing: -2px;
        line-height: 60px;
        padding: 0;
        vertical-align: middle;
    }
    .pricing .basic .price .cent{
        display: inline-block;
        font-size: 24px;
        font-weight: 400;
        vertical-align: bottom;
    }
    .pricing .basic .price .month{
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 3px;
        vertical-align: bottom;
    }
    
    .pricing .basic ul li{
        border-top: 1px solid #ccc;
        padding: 18px 0;
        border-bottom: 1px solid #ccc;
        color: #7f8c8d;
    }
    .pricing .basic ul li i{
        padding-right: 5px;
        color: #535CF1;
    }
    .pricing .header-btn{
        margin: 2rem auto;
        width: 170px;
    
    }
    .pricing .header-btn a{
        font-weight: normal;
        font-size: 18px;
        border-radius: 50px;
        outline: medium none;
        border: 1px solid #2ecc71;
        color: #1d1d1d;
    }
    .pricing .standard h3{
        background-image: linear-gradient(to right, #535CF1, #A147E4); 
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
        color: #fff;
    }
    .pricing .standard .header-btn a{
        background-image: linear-gradient(to right, #535CF1, #A147E4);
        color: #fff;
        border: 1px solid #2ecc71;
    }
    .pricing .basic:hover .header-btn a{
        background-image: linear-gradient(to right, #535CF1, #A147E4);
        color: #fff;
        border: 1px solid #2ecc71;
    }
    .pricing .basic:hover h3{
        background-image: linear-gradient(to right, #535CF1, #A147E4);
        color: #fff;
    }
    
    .callToAct .parallax{
        width: 100%;
        margin-top: 10%;
    }

    .callToAct .parallax h3{
        font-size: 33px;
    }
    
    .callToAct .parallax h6{
        font-size: 16px;
    }
    .callToAct .parallax .call-news input{
        font-size: 16px;
    }
    .callToAct .parallax .call-news button{
        font-size: 15px;
    }

 
}
@media only screen and (max-width: 615px)
{
    .nav
    {
        padding: 0.7rem 1rem;
       
    }
    .nav .navbar-toggler
    {
        display: block;
        position: absolute;
        top: 26px;
        right: 16px;
        z-index: 100000;
    }

    .nav .menu-bar{
        position: fixed;
        top: 55px;
        right: -360px;
        width: 300px;
        height: 100vh;
        background-color: rgba(256, 256, 256, 0.9);
        transform: all 0.6s ease;
    }
    
    .nav .menu-bar .menu-items
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: justify;
        padding: 40px 0;
    }
    .nav .menu-bar .menu-items li
    {
        margin: 2rem 30px;
    }

    .hero-text{
        width: 80%;
        
    }
    .hero-text h6{
        font-size: 16px;
    }

    #wrapper{
        margin: 3rem 1rem 10rem 1rem;
    }
    
    .service h3{
        font-size: 33px;
    }

    .service h6{
        font-size: 16px;
    }
    
    
    .service .service-content .service-img{
        width: 90%;
        margin-bottom: 5rem;
    }

    .pricing h3{
        font-size: 33px;
    }
    
    .pricing h6{
        font-size: 16px;
    }
    .pricing .table{
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: nowrap;
    }
    .pricing .basic{
        margin-bottom: 3rem;
    }
    .pricing .basic h3{
        text-align: center;
        font-weight: 300;
        padding: 40px 0;
        background-color: #ecf0f1;
        transition: all ease 0.6s;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    }
    
    .pricing .basic .price{
        display: block;
        text-align: center;
        padding: 20px 0;
    }
    .pricing .basic .price .sing{
        display: inline-block;
        font-size: 28px;
        font-weight: 400;
        vertical-align: middle;
    }
    .pricing .basic .price .currency{
        font-size: 60px;
        font-weight: 300;
        letter-spacing: -2px;
        line-height: 60px;
        padding: 0;
        vertical-align: middle;
    }
    .pricing .basic .price .cent{
        display: inline-block;
        font-size: 24px;
        font-weight: 400;
        vertical-align: bottom;
    }
    .pricing .basic .price .month{
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 3px;
        vertical-align: bottom;
    }
    
    .pricing .basic ul li{
        border-top: 1px solid #ccc;
        padding: 18px 0;
        border-bottom: 1px solid #ccc;
        color: #7f8c8d;
    }
    .pricing .basic ul li i{
        padding-right: 5px;
        color: #535CF1;
    }
    .pricing .header-btn{
        margin: 2rem auto;
        width: 170px;
    
    }
    .pricing .header-btn a{
        font-weight: normal;
        font-size: 18px;
        border-radius: 50px;
        outline: medium none;
        border: 1px solid #2ecc71;
        color: #1d1d1d;
    }
    .pricing .standard h3{
        background-image: linear-gradient(to right, #535CF1, #A147E4); 
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
        color: #fff;
    }
    .pricing .standard .header-btn a{
        background-image: linear-gradient(to right, #535CF1, #A147E4);
        color: #fff;
        border: 1px solid #2ecc71;
    }
    .pricing .basic:hover .header-btn a{
        background-image: linear-gradient(to right, #535CF1, #A147E4);
        color: #fff;
        border: 1px solid #2ecc71;
    }
    .pricing .basic:hover h3{
        background-image: linear-gradient(to right, #535CF1, #A147E4);
        color: #fff;
    }
    
    .callToAct .parallax{
        width: 100%;
        margin-top: 10%;
    }

    .callToAct .parallax h3{
        font-size: 33px;
    }
    
    .callToAct .parallax h6{
        font-size: 16px;
    }
    .callToAct .parallax .call-news input{
        font-size: 16px;
    }
    .callToAct .parallax .call-news button{
        font-size: 15px;
    }

  
}
@media only screen and (max-width: 490px)
{
    .nav
    {
        padding: 0.7rem 1rem;
       
    }
    .nav .navbar-toggler
    {
        display: block;
        position: absolute;
        top: 26px;
        right: 16px;
        z-index: 100000;
    }

    .nav .menu-bar{
        position: fixed;
        top: 55px;
        right: -360px;
        width: 300px;
        height: 100vh;
        background-color: rgba(256, 256, 256, 0.9);
        transform: all 0.6s ease;
    }
    
    .nav .menu-bar .menu-items
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: justify;
        padding: 40px 0;
    }
    .nav .menu-bar .menu-items li
    {
        margin: 2rem 30px;
    }

    .hero-text{
        width: 80%;
        
    }
    .hero-text h6{
        font-size: 16px;
    }

    #wrapper{
        margin: 3rem 1rem 10rem 1rem;
    }
    
    .service h3{
        font-size: 33px;
    }

    .service h6{
        font-size: 16px;
    }
    .service .box .box-one{
        padding: 10px;
    }
    
    .service .service-content .service-img{
        width: 90%;
        margin-bottom: 5rem;
    }

    .pricing h3{
        font-size: 33px;
    }
    
    .pricing h6{
        font-size: 16px;
    }
    .pricing .table{
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: nowrap;
    }
    .pricing .basic{
        margin-bottom: 3rem;
    }
    .pricing .basic h3{
        text-align: center;
        font-weight: 300;
        padding: 40px 0;
        background-color: #ecf0f1;
        transition: all ease 0.6s;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    }
    
    .pricing .basic .price{
        display: block;
        text-align: center;
        padding: 20px 0;
    }
    .pricing .basic .price .sing{
        display: inline-block;
        font-size: 28px;
        font-weight: 400;
        vertical-align: middle;
    }
    .pricing .basic .price .currency{
        font-size: 60px;
        font-weight: 300;
        letter-spacing: -2px;
        line-height: 60px;
        padding: 0;
        vertical-align: middle;
    }
    .pricing .basic .price .cent{
        display: inline-block;
        font-size: 24px;
        font-weight: 400;
        vertical-align: bottom;
    }
    .pricing .basic .price .month{
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 3px;
        vertical-align: bottom;
    }
    
    .pricing .basic ul li{
        border-top: 1px solid #ccc;
        padding: 18px 0;
        border-bottom: 1px solid #ccc;
        color: #7f8c8d;
    }
    .pricing .basic ul li i{
        padding-right: 5px;
        color: #535CF1;
    }
    .pricing .header-btn{
        margin: 2rem auto;
        width: 170px;
    
    }
    .pricing .header-btn a{
        font-weight: normal;
        font-size: 18px;
        border-radius: 50px;
        outline: medium none;
        border: 1px solid #2ecc71;
        color: #1d1d1d;
    }
    .pricing .standard h3{
        background-image: linear-gradient(to right, #535CF1, #A147E4); 
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
        color: #fff;
    }
    .pricing .standard .header-btn a{
        background-image: linear-gradient(to right, #535CF1, #A147E4);
        color: #fff;
        border: 1px solid #2ecc71;
    }
    .pricing .basic:hover .header-btn a{
        background-image: linear-gradient(to right, #535CF1, #A147E4);
        color: #fff;
        border: 1px solid #2ecc71;
    }
    .pricing .basic:hover h3{
        background-image: linear-gradient(to right, #535CF1, #A147E4);
        color: #fff;
    }
    
    .callToAct .parallax{
        width: 100%;
        margin-top: 10%;
    }

    .callToAct .parallax h3{
        font-size: 33px;
    }
    
    .callToAct .parallax h6{
        font-size: 16px;
    }
    .callToAct .parallax .call-news input{
        font-size: 16px;
    }
    .callToAct .parallax .call-news button{
        font-size: 15px;
    }

}
@media only screen and (max-width: 450px)
{
    .nav
    {
        padding: 0.7rem 1rem;
       
    }
    .nav .navbar-toggler
    {
        display: block;
        position: absolute;
        top: 26px;
        right: 16px;
        z-index: 100000;
    }

    .nav .menu-bar{
        position: fixed;
        top: 55px;
        right: -360px;
        width: 300px;
        height: 100vh;
        background-color: rgba(256, 256, 256, 0.9);
        transform: all 0.6s ease;
    }
    
    .nav .menu-bar .menu-items
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: justify;
        padding: 40px 0;
    }
    .nav .menu-bar .menu-items li
    {
        margin: 2rem 30px;
    }

    .hero-text{
        width: 80%;
        
    }
    .hero-text h6{
        font-size: 16px;
    }

    #wrapper{
        margin: 3rem 1rem 10rem 1rem;
    }
    
    .service h3{
        font-size: 33px;
    }

    .service h6{
        font-size: 16px;
    }
    .service .box .box-one{
        padding: 10px;
    }
    
    .service .service-content .service-img{
        width: 90%;
        margin-bottom: 5rem;
    }

    .pricing h3{
        font-size: 33px;
    }
    
    .pricing h6{
        font-size: 16px;
    }
    .pricing .table{
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: nowrap;
    }
    .pricing .basic{
        margin-bottom: 3rem;
    }
    .pricing .basic h3{
        text-align: center;
        font-weight: 300;
        padding: 40px 0;
        background-color: #ecf0f1;
        transition: all ease 0.6s;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    }
    
    .pricing .basic .price{
        display: block;
        text-align: center;
        padding: 20px 0;
    }
    .pricing .basic .price .sing{
        display: inline-block;
        font-size: 28px;
        font-weight: 400;
        vertical-align: middle;
    }
    .pricing .basic .price .currency{
        font-size: 60px;
        font-weight: 300;
        letter-spacing: -2px;
        line-height: 60px;
        padding: 0;
        vertical-align: middle;
    }
    .pricing .basic .price .cent{
        display: inline-block;
        font-size: 24px;
        font-weight: 400;
        vertical-align: bottom;
    }
    .pricing .basic .price .month{
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 3px;
        vertical-align: bottom;
    }
    
    .pricing .basic ul li{
        border-top: 1px solid #ccc;
        padding: 18px 0;
        border-bottom: 1px solid #ccc;
        color: #7f8c8d;
    }
    .pricing .basic ul li i{
        padding-right: 5px;
        color: #535CF1;
    }
    .pricing .header-btn{
        margin: 2rem auto;
        width: 170px;
    
    }
    .pricing .header-btn a{
        font-weight: normal;
        font-size: 18px;
        border-radius: 50px;
        outline: medium none;
        border: 1px solid #2ecc71;
        color: #1d1d1d;
    }
    .pricing .standard h3{
        background-image: linear-gradient(to right, #535CF1, #A147E4); 
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
        color: #fff;
    }
    .pricing .standard .header-btn a{
        background-image: linear-gradient(to right, #535CF1, #A147E4);
        color: #fff;
        border: 1px solid #2ecc71;
    }
    .pricing .basic:hover .header-btn a{
        background-image: linear-gradient(to right, #535CF1, #A147E4);
        color: #fff;
        border: 1px solid #2ecc71;
    }
    .pricing .basic:hover h3{
        background-image: linear-gradient(to right, #535CF1, #A147E4);
        color: #fff;
    }
    
    .callToAct .parallax{
        width: 100%;
        margin-top: 10%;
    }

    .callToAct .parallax h3{
        font-size: 33px;
    }
    
    .callToAct .parallax h6{
        font-size: 16px;
    }
    .callToAct .parallax .call-news input{
        font-size: 16px;
    }
    .callToAct .parallax .call-news button{
        font-size: 15px;
    }


}
@media only screen and (max-width: 433px)
{
    .nav
    {
        padding: 0.7rem 1rem;
       
    }
    .nav .navbar-toggler
    {
        display: block;
        position: absolute;
        top: 26px;
        right: 16px;
        z-index: 100000;
    }

    .nav .menu-bar{
        position: fixed;
        top: 55px;
        right: -360px;
        width: 300px;
        height: 100vh;
        background-color: rgba(256, 256, 256, 0.9);
        transform: all 0.6s ease;
    }
    
    .nav .menu-bar .menu-items
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: justify;
        padding: 40px 0;
    }
    .nav .menu-bar .menu-items li
    {
        margin: 2rem 30px;
    }

    .hero-text{
        width: 80%;
        
    }
    .hero-text h6{
        font-size: 16px;
    }

    #wrapper{
        margin: 3rem 0.6rem 10rem 0.6rem;
    }
    
    .service h3{
        font-size: 33px;
    }

    .service h6{
        font-size: 16px;
    }
    
    
    .service .service-content .service-img{
        width: 90%;
        margin-bottom: 5rem;
    }
    .service .box .box-one{
        padding: 10px;
    }
    .pricing h3{
        font-size: 33px;
    }
    
    .pricing h6{
        font-size: 16px;
    }
    .pricing .table{
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: nowrap;
    }
    .pricing .basic{
        margin-bottom: 3rem;
    }
    .pricing .basic h3{
        text-align: center;
        font-weight: 300;
        padding: 40px 0;
        background-color: #ecf0f1;
        transition: all ease 0.6s;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    }
    
    .pricing .basic .price{
        display: block;
        text-align: center;
        padding: 20px 0;
    }
    .pricing .basic .price .sing{
        display: inline-block;
        font-size: 28px;
        font-weight: 400;
        vertical-align: middle;
    }
    .pricing .basic .price .currency{
        font-size: 60px;
        font-weight: 300;
        letter-spacing: -2px;
        line-height: 60px;
        padding: 0;
        vertical-align: middle;
    }
    .pricing .basic .price .cent{
        display: inline-block;
        font-size: 24px;
        font-weight: 400;
        vertical-align: bottom;
    }
    .pricing .basic .price .month{
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 3px;
        vertical-align: bottom;
    }
    
    .pricing .basic ul li{
        border-top: 1px solid #ccc;
        padding: 18px 0;
        border-bottom: 1px solid #ccc;
        color: #7f8c8d;
    }
    .pricing .basic ul li i{
        padding-right: 5px;
        color: #535CF1;
    }
    .pricing .header-btn{
        margin: 2rem auto;
        width: 170px;
    
    }
    .pricing .header-btn a{
        font-weight: normal;
        font-size: 18px;
        border-radius: 50px;
        outline: medium none;
        border: 1px solid #2ecc71;
        color: #1d1d1d;
    }
    .pricing .standard h3{
        background-image: linear-gradient(to right, #535CF1, #A147E4); 
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
        color: #fff;
    }
    .pricing .standard .header-btn a{
        background-image: linear-gradient(to right, #535CF1, #A147E4);
        color: #fff;
        border: 1px solid #2ecc71;
    }
    .pricing .basic:hover .header-btn a{
        background-image: linear-gradient(to right, #535CF1, #A147E4);
        color: #fff;
        border: 1px solid #2ecc71;
    }
    .pricing .basic:hover h3{
        background-image: linear-gradient(to right, #535CF1, #A147E4);
        color: #fff;
    }
    
    .callToAct .parallax{
        width: 100%;
        margin-top: 10%;
    }

    .callToAct .parallax h3{
        font-size: 33px;
    }
    
    .callToAct .parallax h6{
        font-size: 16px;
    }
    .callToAct .parallax .call-news input{
        font-size: 16px;
    }
    .callToAct .parallax .call-news button{
        font-size: 15px;
    }

 
}
@media only screen and (max-width: 370px)
{
    .nav
    {
        padding: 0.7rem 1rem;
       
    }
    .nav .navbar-toggler
    {
        display: block;
        position: absolute;
        top: 26px;
        right: 16px;
        z-index: 100000;
    }

    .nav .menu-bar{
        position: fixed;
        top: 55px;
        right: -360px;
        width: 300px;
        height: 100vh;
        background-color: rgba(256, 256, 256, 0.9);
        transform: all 0.6s ease;
    }
    
    .nav .menu-bar .menu-items
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: justify;
        padding: 40px 0;
    }
    .nav .menu-bar .menu-items li
    {
        margin: 2rem 30px;
    }

    .hero-text{
        width: 80%;
        
    }
    .hero-text h6{
        font-size: 16px;
    }

    #wrapper{
        margin: 3rem 1rem 10rem 1rem;
    }
    
    .service h3{
        font-size: 33px;
    }

    .service h6{
        font-size: 16px;
    }
    
    
    .service .service-content .service-img{
        width: 90%;
        margin-bottom: 5rem;
    }

    .pricing h3{
        font-size: 33px;
    }
    
    .pricing h6{
        font-size: 16px;
    }
    .pricing .table{
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: nowrap;
    }
    .pricing .basic{
        margin-bottom: 3rem;
    }
    .pricing .basic h3{
        text-align: center;
        font-weight: 300;
        padding: 40px 0;
        background-color: #ecf0f1;
        transition: all ease 0.6s;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    }
    
    .pricing .basic .price{
        display: block;
        text-align: center;
        padding: 20px 0;
    }
    .pricing .basic .price .sing{
        display: inline-block;
        font-size: 28px;
        font-weight: 400;
        vertical-align: middle;
    }
    .pricing .basic .price .currency{
        font-size: 60px;
        font-weight: 300;
        letter-spacing: -2px;
        line-height: 60px;
        padding: 0;
        vertical-align: middle;
    }
    .pricing .basic .price .cent{
        display: inline-block;
        font-size: 24px;
        font-weight: 400;
        vertical-align: bottom;
    }
    .pricing .basic .price .month{
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 3px;
        vertical-align: bottom;
    }
    
    .pricing .basic ul li{
        border-top: 1px solid #ccc;
        padding: 18px 0;
        border-bottom: 1px solid #ccc;
        color: #7f8c8d;
    }
    .pricing .basic ul li i{
        padding-right: 5px;
        color: #535CF1;
    }
    .pricing .header-btn{
        margin: 2rem auto;
        width: 170px;
    
    }
    .pricing .header-btn a{
        font-weight: normal;
        font-size: 18px;
        border-radius: 50px;
        outline: medium none;
        border: 1px solid #2ecc71;
        color: #1d1d1d;
    }
    .pricing .standard h3{
        background-image: linear-gradient(to right, #535CF1, #A147E4); 
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
        color: #fff;
    }
    .pricing .standard .header-btn a{
        background-image: linear-gradient(to right, #535CF1, #A147E4);
        color: #fff;
        border: 1px solid #2ecc71;
    }
    .pricing .basic:hover .header-btn a{
        background-image: linear-gradient(to right, #535CF1, #A147E4);
        color: #fff;
        border: 1px solid #2ecc71;
    }
    .pricing .basic:hover h3{
        background-image: linear-gradient(to right, #535CF1, #A147E4);
        color: #fff;
    }
    
    .callToAct .parallax{
        width: 100%;
        margin-top: 10%;
    }

    .callToAct .parallax h3{
        font-size: 33px;
    }
    
    .callToAct .parallax h6{
        font-size: 16px;
    }
    .callToAct .parallax .call-news input{
        font-size: 16px;
    }
    .callToAct .parallax .call-news button{
        font-size: 15px;
    }

 
}
@media only screen and (max-width: 345px)
{
    .nav
    {
        padding: 0.7rem 1rem;
       
    }
    .nav .navbar-toggler
    {
        display: block;
        position: absolute;
        top: 26px;
        right: 16px;
        z-index: 100000;
    }

    .nav .menu-bar{
        position: fixed;
        top: 55px;
        right: -360px;
        width: 300px;
        height: 100vh;
        background-color: rgba(256, 256, 256, 0.9);
        transform: all 0.6s ease;
    }
    
    .nav .menu-bar .menu-items
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: justify;
        padding: 40px 0;
    }
    .nav .menu-bar .menu-items li
    {
        margin: 2rem 30px;
    }

    .hero-text{
        width: 80%;
        
    }
    .hero-text h6{
        font-size: 16px;
    }

    #wrapper{
        margin: 3rem 1rem 10rem 1rem;
    }
    
    .service h3{
        font-size: 33px;
    }

    .service h6{
        font-size: 16px;
    }
    
    
    .service .service-content .service-img{
        width: 90%;
        margin-bottom: 5rem;
    }

    .pricing h3{
        font-size: 33px;
    }
    
    .pricing h6{
        font-size: 16px;
    }
    .pricing .table{
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: nowrap;
    }
    .pricing .basic{
        margin-bottom: 3rem;
    }
    .pricing .basic h3{
        text-align: center;
        font-weight: 300;
        padding: 40px 0;
        background-color: #ecf0f1;
        transition: all ease 0.6s;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    }
    
    .pricing .basic .price{
        display: block;
        text-align: center;
        padding: 20px 0;
    }
    .pricing .basic .price .sing{
        display: inline-block;
        font-size: 28px;
        font-weight: 400;
        vertical-align: middle;
    }
    .pricing .basic .price .currency{
        font-size: 60px;
        font-weight: 300;
        letter-spacing: -2px;
        line-height: 60px;
        padding: 0;
        vertical-align: middle;
    }
    .pricing .basic .price .cent{
        display: inline-block;
        font-size: 24px;
        font-weight: 400;
        vertical-align: bottom;
    }
    .pricing .basic .price .month{
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 3px;
        vertical-align: bottom;
    }
    
    .pricing .basic ul li{
        border-top: 1px solid #ccc;
        padding: 18px 0;
        border-bottom: 1px solid #ccc;
        color: #7f8c8d;
    }
    .pricing .basic ul li i{
        padding-right: 5px;
        color: #535CF1;
    }
    .pricing .header-btn{
        margin: 2rem auto;
        width: 170px;
    
    }
    .pricing .header-btn a{
        font-weight: normal;
        font-size: 18px;
        border-radius: 50px;
        outline: medium none;
        border: 1px solid #2ecc71;
        color: #1d1d1d;
    }
    .pricing .standard h3{
        background-image: linear-gradient(to right, #535CF1, #A147E4); 
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
        color: #fff;
    }
    .pricing .standard .header-btn a{
        background-image: linear-gradient(to right, #535CF1, #A147E4);
        color: #fff;
        border: 1px solid #2ecc71;
    }
    .pricing .basic:hover .header-btn a{
        background-image: linear-gradient(to right, #535CF1, #A147E4);
        color: #fff;
        border: 1px solid #2ecc71;
    }
    .pricing .basic:hover h3{
        background-image: linear-gradient(to right, #535CF1, #A147E4);
        color: #fff;
    }
    
    .callToAct .parallax{
        width: 100%;
        margin-top: 10%;
    }

    .callToAct .parallax h3{
        font-size: 33px;
    }
    
    .callToAct .parallax h6{
        font-size: 16px;
    }
    .callToAct .parallax .call-news input{
        font-size: 16px;
    }
    .callToAct .parallax .call-news button{
        font-size: 15px;
    }

 
}
@media only screen and (max-width: 321px)
{
    .nav
    {
        padding: 0.7rem 1rem;
       
    }
    .nav .navbar-toggler
    {
        display: block;
        position: absolute;
        top: 26px;
        right: 16px;
        z-index: 100000;
    }

    .nav .menu-bar{
        position: fixed;
        top: 55px;
        right: -360px;
        width: 300px;
        height: 100vh;
        background-color: rgba(256, 256, 256, 0.9);
        transform: all 0.6s ease;
    }
    
    .nav .menu-bar .menu-items
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: justify;
        padding: 40px 0;
    }
    .nav .menu-bar .menu-items li
    {
        margin: 2rem 30px;
    }

    .hero-text{
        width: 80%;
        
    }
    .hero-text h6{
        font-size: 16px;
    }

    #wrapper{
        margin: 3rem 1rem 10rem 1rem;
    }
    
    .service h3{
        font-size: 33px;
    }

    .service h6{
        font-size: 16px;
    }
    
    
    .service .service-content .service-img{
        width: 90%;
        margin-bottom: 5rem;
    }

    .pricing h3{
        font-size: 33px;
    }
    
    .pricing h6{
        font-size: 16px;
    }
    .pricing .table{
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: nowrap;
    }
    .pricing .basic{
        margin-bottom: 3rem;
    }
    .pricing .basic h3{
        text-align: center;
        font-weight: 300;
        padding: 40px 0;
        background-color: #ecf0f1;
        transition: all ease 0.6s;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    }
    
    .pricing .basic .price{
        display: block;
        text-align: center;
        padding: 20px 0;
    }
    .pricing .basic .price .sing{
        display: inline-block;
        font-size: 28px;
        font-weight: 400;
        vertical-align: middle;
    }
    .pricing .basic .price .currency{
        font-size: 60px;
        font-weight: 300;
        letter-spacing: -2px;
        line-height: 60px;
        padding: 0;
        vertical-align: middle;
    }
    .pricing .basic .price .cent{
        display: inline-block;
        font-size: 24px;
        font-weight: 400;
        vertical-align: bottom;
    }
    .pricing .basic .price .month{
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 3px;
        vertical-align: bottom;
    }
    
    .pricing .basic ul li{
        border-top: 1px solid #ccc;
        padding: 18px 0;
        border-bottom: 1px solid #ccc;
        color: #7f8c8d;
    }
    .pricing .basic ul li i{
        padding-right: 5px;
        color: #535CF1;
    }
    .pricing .header-btn{
        margin: 2rem auto;
        width: 170px;
    
    }
    .pricing .header-btn a{
        font-weight: normal;
        font-size: 18px;
        border-radius: 50px;
        outline: medium none;
        border: 1px solid #2ecc71;
        color: #1d1d1d;
    }
    .pricing .standard h3{
        background-image: linear-gradient(to right, #535CF1, #A147E4); 
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
        color: #fff;
    }
    .pricing .standard .header-btn a{
        background-image: linear-gradient(to right, #535CF1, #A147E4);
        color: #fff;
        border: 1px solid #2ecc71;
    }
    .pricing .basic:hover .header-btn a{
        background-image: linear-gradient(to right, #535CF1, #A147E4);
        color: #fff;
        border: 1px solid #2ecc71;
    }
    .pricing .basic:hover h3{
        background-image: linear-gradient(to right, #535CF1, #A147E4);
        color: #fff;
    }
    
    .callToAct .parallax{
        width: 100%;
        margin-top: 10%;
    }

    .callToAct .parallax h3{
        font-size: 33px;
    }
    
    .callToAct .parallax h6{
        font-size: 16px;
    }
    .callToAct .parallax .call-news input{
        font-size: 16px;
    }
    .callToAct .parallax .call-news button{
        font-size: 15px;
    }

 
}


@media only screen and (max-height: 530px)
{
        .nav
        {
            padding: 0.7rem 1rem;
           
        }
        .nav .navbar-toggler
        {
            display: block;
            position: absolute;
            top: 26px;
            right: 16px;
            z-index: 100000;
        }
    
        .nav .menu-bar{
            position: fixed;
            top: 55px;
            right: -360px;
            width: 300px;
            height: 100vh;
            background-color: rgba(256, 256, 256, 0.9);
            transform: all 0.6s ease;
        }
        
        .nav .menu-bar .menu-items
        {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            text-align: justify;
            padding: 40px 0;
        }
        .nav .menu-bar .menu-items li
        {
            margin: 2rem 30px;
        }
    
        .hero-text{
            width: 80%;
            margin-top:15%;
        }
        .hero-text h3{
            font-size: 18px;
        }
        .hero-text h6{
            font-size: 14px;
        }
    
        #wrapper{
            margin: 3rem 1rem 10rem 1rem;
        }
        
        .service h3{
            font-size: 33px;
        }
    
        .service h6{
            font-size: 16px;
        }
        
        
        .service .service-content .service-img{
            width: 90%;
            margin-bottom: 5rem;
        }

}
@media only screen and (max-height: 689px)
{
        .nav
        {
            padding: 0.7rem 1rem;
           
        }
        .nav .navbar-toggler
        {
            display: block;
            position: absolute;
            top: 26px;
            right: 16px;
            z-index: 100000;
        }
    
        .nav .menu-bar{
            position: fixed;
            top: 55px;
            right: -360px;
            width: 300px;
            height: 100vh;
            background-color: rgba(256, 256, 256, 0.9);
            transform: all 0.6s ease;
        }
        
        .nav .menu-bar .menu-items
        {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            text-align: justify;
            padding: 40px 0;
        }
        .nav .menu-bar .menu-items li
        {
            margin: 2rem 30px;
        }
    
        .hero-text{
            width: 80%;
            margin-top:15%;
        }
        .hero-text h3{
            font-size: 18px;
        }
        .hero-text h6{
            font-size: 14px;
        }
    
        #wrapper{
            margin: 3rem 1rem 10rem 1rem;
        }
        
        .service h3{
            font-size: 33px;
        }
    
        .service h6{
            font-size: 16px;
        }
        
        
        .service .service-content .service-img{
            width: 90%;
            margin-bottom: 5rem;
        }
    
 
}